.outer-container.hero-section {
    display: flex;
    justify-content: center;
    margin: 50px;

}

.inner-container.hero-section {
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: var(--background-card);
    border-radius: 30px;
    padding: 30px;
}

.start-card {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: var(--green-grey);
    border-radius: 10px;
    padding: 30px;
}