nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--background-card);
}

.logo {
    max-height: 100px;
}

input {
    padding: 5px 10px;
    background-color: var(--background-card);
    border-radius: 10px;
    border: 1px solid var(--dark-green);
    width: 500px;
}



